<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/styles/main.css">
  <title>Create Blog Post</title>
</head>
<body>
  <h1>Create a New Blog Post</h1>

  <form action="/create" method="POST">
    <label>Name:</label><br>
    <input type="text" name="name" required><br><br>

    <label>Title:</label><br>
    <input type="text" name="title" required><br><br>

    <label>Body:</label><br>
    <textarea name="body" rows="5" cols="40" required></textarea><br><br>

    <button type="submit">Submit</button>
  </form>

  <a href="/">Cancel</a>
</body>
</html>
