<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/styles/main.css">
  <title>Edit Blog Post</title>
</head>

<body>
    <h1>Edit Post</h1>

  <form action="/edit/<%= post.id %>" method="POST">
    <label>Name:</label><br>
    <input type="text" name="name" value="<%= post.name %>" required><br><br>

    <label>Title:</label><br>
    <input type="text" name="title" value="<%= post.title %>" required><br><br>

    <label>Body:</label><br>
    <textarea name="body" rows=5 cols="40" required><%= post.body %> </textarea><br><br>

    <button type="submit">Save Changes</button>
  </form>

    <a href="/">Cancel</a>
</body>
</html>